<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration System</title>
</head>
<body>
<div>
    <div>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/logout}">Logout</a>
    </div>
    <div>
        <h1>List of User</h1>
    </div>
    <table>
        <thead>
        <tr>
            <th>User ID</th>
            <th>User Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>